/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --ff-main: 'Inter Variable', sans-serif;
  --ff-accent: 'Press Start 2P', monospace;
  --fw-main: 400;
  --fw-accent: 700;
  --color-bg: #FFFFFF;
  --color-accent: #000000;
  --color-bg-grad: #D3D3D3;
  --color-bg-grad-start: #E7E7E7;
  --color-bg-grad-end: #1A1A1A;
  --color-contour: #000000;
  --color-sparks: red;
  --color-button: #FFFFFF;
  --content-width: clamp(23.4375rem, 4.2939rem + 81.6794vw, 43.5rem);
} 